doctype html
html(class="no-js", lang="en")

    include ../components/head/head
    include ../components/header_top/header_lk
    include ../components/header_right/header_right
    include ../components/header_notif/header_notif
    include ../components/template_switcher/template_switcher
    include ../components/nav_wrap/nav_wrap
    include ../components/accordion/accordion
    include ../components/section_title/title_bl
    include ../components/pagelist/pagelist
    include ../components/header_notif/header_notif
    include ../components/new_appeal/new_appeal
    include ../components/my_appeals_block/my_appeals_block

    include ../components/footer/footer_lk

    head
        +head
        link(rel='stylesheet', href='../css/template_switcher/template_switcher.css')
        link(rel='stylesheet', href='../css/header_top/header_top.css')
        link(rel='stylesheet', href='../css/header_right/header_right.css')
        link(rel='stylesheet', href='../css/header_notif/header_notif.css')

        link(rel='stylesheet', href='../css/my_tasks_block/my_tasks_block.css')
        link(rel='stylesheet', href='../css/pagelist/pagelist.css')
        link(rel='stylesheet', href='../css/work_services_block/work_services_block.css')
        link(rel='stylesheet', href='../css/my_appeals_block/my_appeals_block.css')
        link(rel='stylesheet', href='../css/working_groups/working_groups.css')
        link(rel='stylesheet', href='../css/libraries/account.css')

        link(rel='stylesheet', href='../css/footer/footer.css')
    body
        .site-wrapper.lk.template--aim
            +template_switcher
            header.site-header.with-bg.with-nav.site-header-default(
                    data-tmpl-btn="default" 
                    data-tmpl-name="АИМ Холдинг" 
                    data-tmpl-text="Внешний сайт АИМ" 
                    data-tmpl-link="http://aimholding.ru/" 
                    data-tmpl-logo="logo-aim-56.svg" 
                    data-tmpl-bg="template/bg_aim.png" 
                    data-tmpl-bgfooter="template/bg_footer_aim.png" 
                    data-tmpl-phone="8 (800) 200 - 12 - 40"
                    data-tmpl-vk="http://vk.com/#" 
                    data-tmpl-fb="http://fb.com/#" 
                    data-tmpl-inst="http://instagram.com/#"
                    data-tmpl-youtube="http://youtube.com/#" 
                )
                +header_lk
            .blocks-wrapper
                .inner
                    +nav_wrap

                    section.section.sec.sec_active(data-sec="sec-1")
                        +title_bl('titles/new_appeal.png')
                        +new_appeal

                    section.section.sec(data-sec="sec-2")
                        .appeals_block
                            +title_bl('titles/my_appeals.png')
                            .top_link
                                select#selnew(name="Выберите тип")
                                    option Все заявки
                                    option Справки НДФЛ
                                    option Блок Закупок 3
                            +my_appeals_block
                    section.section.sec(data-sec="sec-3")
                        +title_bl('titles/info.png')
                        .section-body
                            .zayavka-info
                                .block
                                    .label Дата заявки
                                    .text 26.08.2009
                                .block
                                    .label Тип документа
                                    .text Копия трудовой книжки
                                .block
                                    .label Табельный номер
                                    .text 00006076
                                .block
                                    .label Организация
                                    .text ГО СУЭК
                                .block
                                    .label Подразделение
                                    .text ГО СУЭК
                                .block
                                    .label Количество экхемпляров
                                    .text 1
                                .block
                                    .label Место получения
                                    .text Отдел кадров, Москва, Дубининская 53 стр. 7, каб. 505. Время работы с 9 до 18 Мск. Тел. 3333
                                .block
                                    .label Комментарий заявителя
                                    .text Тестирование сервисов личного кабинета, проверка
                                .block
                                    .label Статус
                                    .text
                                        .status.red Отклонено
                            +accordion

                    section.section.sec(data-sec="sec-4")
                        +title_bl('titles/pin.png')
                        .section-body.form-in-page
                            .form.form-pin-edit#form-pin-edit
                                .form-group
                                    .form-field.form-field-full
                                        input.custom-input#pincode(type="password", required)
                                        label.custom-input_label(for="pincode") Текущий пин-код
                                .form-group
                                    .form-field.form-field-full
                                        input.custom-input#pincode2(type="password", required)
                                        label.custom-input_label(for="pincode2") Новый пин-код
                                .form-group
                                    .form-field
                                        br
                                        button.btn.btn-primary#form-auth-complete__btn
                                            span.btn_inner Изменить

        +footer_lk

        script(src='../js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        script(src='../js/separate-js/jquery-2.2.4.min.js')
        script(src='../js/separate-js/owl.carousel.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")

        script(src='../js/compiled.js')
        script(src='../components/template_switcher/template_switcher.js')
        script(src='../components/accordion/accordion.js')
        script(src='../components/footer/footer.js')
