doctype html
html(class="no-js", lang="en")

    include ../components/head/head
    include ../components/header_top/header_top_custom
    include ../components/header_right/header_right
    include ../components/header_notif/header_notif

    include ../components/nav_wrap/nav_wrap
    include ../components/accordion/accordion
    include ../components/section_title/title_bl
    include ../components/pagelist/pagelist
    include ../components/header_notif/header_notif
    include ../components/filterPagerBlock/filterblock
    include ../components/filterPagerBlock/pagerblock
    include ../components/my_appeals_block/my_appeals_block
    include ../components/modals/modals

    include ../components/footer/footer_lk

    head
        +head
        link(rel='stylesheet', href='../css/template_switcher/template_switcher.css')
        link(rel='stylesheet', href='../css/header_top/header_top.css')
        link(rel='stylesheet', href='../css/header_right/header_right.css')
        link(rel='stylesheet', href='../css/header_notif/header_notif.css')

        link(rel='stylesheet', href='../css/my_tasks_block/my_tasks_block.css')
        link(rel='stylesheet', href='../css/pagelist/pagelist.css')
        link(rel='stylesheet', href='../css/work_services_block/work_services_block.css')
        link(rel='stylesheet', href='../css/my_appeals_block/my_appeals_block.css')
        link(rel='stylesheet', href='../css/working_groups/working_groups.css')
        link(rel='stylesheet', href='../css/filterPagerBlock/filterPagerBlock.css')
        link(rel='stylesheet', href='../css/libraries/account.css')
        link(rel='stylesheet', href='../css/modals/modals.css')

        link(rel='stylesheet', href='../css/footer/footer.css')
    body
        .site-wrapper.lk.template--aim
            header.site-header.with-bg.with-nav.site-header-default(
                    href="javascript:void(0);", 
                    data-tmpl-btn="suek" 
                    data-tmpl-name="СУЭК" 
                    data-tmpl-text="Внешний сайт СУЭК" 
                    data-tmpl-link="#"
                    data-tmpl-logo="logo-suek-56.svg" 
                    data-tmpl-bg="template/bg_suek.png" 
                    data-tmpl-bgfooter="template/bg_footer_suek.png" 
                    data-tmpl-phone="8 (800) 200 - 12 - 40"
                    data-tmpl-vk="http://vk.com/suek" 
                    data-tmpl-fb="http://fb.com/suek" 
                    data-tmpl-inst="http://instagram.com/suek"
                    data-tmpl-youtube="http://youtube.com/suek" 
                )
                .header-top
                    .header-time.
                        09:00 Красноярск +9ºС
                    .site-logo
                        a(href="/")
                            img(src="../../images/logo-suek-56.svg", alt)
                    .account-block
                        .account-block-title
                            .name Александр Конев
                            .pic
                                img(src="../../images/account_image.png", alt="Александр Конев")
            .blocks-wrapper
                .inner
                    nav.with-nav__wrap
                        ul.with-nav__list
                            li.with-nav__item.active
                                a(href="#", data-sec-trigger="sec-1") Сервисы
                            li.with-nav__item
                                a(href="#", data-sec-trigger="sec-2") Инструкции
                            li.with-nav__item
                                a(href="#", data-sec-trigger="sec-3") Смена пароля
                            li.with-nav__item
                                a(href="#", data-sec-trigger="sec-4") Администрирование
                            li.with-nav__item
                                a(href="#") Выход

                    section.section.sec.sec_active(data-sec="sec-1")
                        .work_services_block
                            +title_bl('title/viberite-servis.png')
                            .services_block_tab
                                ul.service-tabs.nav.nav-tabs(role="tablist")
                                    li.nav-item.active-tab(role="presentation")
                                        a.nav-link.active(data-toggle="tab", href="#tab-0", role="tab", aria-controls="tab-0", aria-selected="true")
                                            | Мои сервисы 
                                            span (9)
                                .service-desc.tab-content
                                    .desc-area.tab-pane.active-area.fade.show.active#tab-0(role="tabpanel", aria-labelledby="nav-home-tab")
                                        .items-wrap
                                            a.item(href="#!")
                                                .image
                                                    img(src="../../images/image_service/services_block4.png", alt)
                                                .title
                                                    | Расчетный
                                                    br
                                                    | лист
                                            a.item(href="#!")
                                                .image
                                                    img(src="../../images/image_service/services_block7.png", alt)
                                                .title
                                                    | Справки и
                                                    br
                                                    | документы

                    section.section.sec(data-sec="sec-2")
                        +title_bl('title/title_instruct.png')
                        ul.custom.custom__list.custom__list--img
                            li
                                img(src="../../images/custom_icons/folder.svg", alt)
                                button.btn.btn-with-arrow
                                    span.endarrow Справки и документы
                            li
                                img(src="../../images/custom_icons/folder.svg", alt)
                                button.btn.btn-with-arrow
                                    span.endarrow Расчетный лист
                    section.section.sec(data-sec="sec-3")
                        +title_bl('title/pin.png')
                        .section-body.form-in-page.form-in-page--vleft
                            .form.form--validation.form-pin-edit#form-pin-edit
                                .form-group
                                    .form-field.form-field-half
                                        label.custom-input_label(for="pincode") Введите старый пин-код
                                        .custom-input_with-btn
                                            input.custom-input.form-control#pincode(type="password", required)
                                            button.btn.showpass()
                                        .errortext Неверный пин-код
                                .form-group
                                    .form-field.form-field-half
                                        label.custom-input_label(for="pincode2") Введите новый пин-код
                                        .custom-input_with-btn
                                            input.custom-input.form-control#pincode2(type="password", required)
                                            button.btn.copy
                                            button.btn.showpass
                                            .absolute-right
                                                a(href="#!") Сгенерировать новый пароль
                                        .errortext Неверный пин-код
                                .form-group
                                    .form-field.form-field-half
                                        label.custom-input_label(for="pincode3") Повторите новый пин-код
                                        .custom-input_with-btn
                                            input.custom-input.form-control#pincode3(type="password", required)
                                            button.btn.showpass
                                        .errortext Неверный пин-код
                                .form-group
                                    .form-field.form-field-half
                                        button.btn.btn-primary#form-auth-complete__btn
                                            span.btn_inner Сохранить

                    section.section.sec(data-sec="sec-4")
                        +title_bl('title/title_admin.png')
                        ul.custom.custom__list.custom__list--img
                            li
                                a(href='/app/lk-1.html')
                                    img(src="../../images/custom_icons/file.svg", alt)
                                    button.btn.btn-with-arrow
                                        span.endarrow Предприятия
                            li
                                a(href='/app/lk-2.html')
                                    img(src="../../images/custom_icons/file.svg", alt)
                                    button.btn.btn-with-arrow
                                        span.endarrow Раздел персонала
                            li
                                a(href='/app/lk-3.html')
                                    img(src="../../images/custom_icons/file.svg", alt)
                                    button.btn.btn-with-arrow
                                        span.endarrow Настройка документов
                            li
                                a(href='/app/lk-5.html')
                                    img(src="../../images/custom_icons/file.svg", alt)
                                    button.btn.btn-with-arrow
                                        span.endarrow Управление доступом

        +footer_lk
        
        script(src='../js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        script(src='../js/separate-js/jquery-2.2.4.min.js')
        script(src='../js/separate-js/owl.carousel.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")

        script(src='../js/compiled.js')
        script(src='../js/separate-js/retina.min.js')
        script(src='../components/filterPagerBlock/filterPagerBlock.js')
        script(src='../components/accordion/accordion.js')
        script(src='../components/modals/modals.js')
        
        script(src='../components/footer/footer.js')
