.switch-tmpl переключить на:
    a.tmpl-btn(
        href="javascript:void(0);", 
        data-tmpl-btn="default" 
        data-tmpl-name="АИМ Холдинг" 
        data-tmpl-text="Внешний сайт АИМ" 
        data-tmpl-link="http://aimholding.ru/" 
        data-tmpl-logo="logo-aim-56.svg" 
        data-tmpl-bg="template/bg_aim.png" 
        data-tmpl-bgfooter="template/bg_footer_aim.png" 
        data-tmpl-phone="8 (800) 200 - 12 - 40"
        data-tmpl-social="false" 
        data-tmpl-vk="http://vk.com/#" 
        data-tmpl-fb="http://fb.com/#" 
        data-tmpl-inst="http://instagram.com/#"
        data-tmpl-youtube="http://youtube.com/#" 
        ) default 
    a.tmpl-btn(
        href="javascript:void(0);", 
        data-tmpl-btn="eurochem" 
        data-tmpl-name="ЕвроХим" 
        data-tmpl-text="Внешний сайт Еврохим" 
        data-tmpl-link="https://www.eurochemgroup.com"
        data-tmpl-logo="logo-eurochem-56.svg" 
        data-tmpl-bg="template/bg_eurochem.jpg" 
        data-tmpl-bgfooter="template/bg_footer_eurochem.png" 
        data-tmpl-phone="8 (800) 775 - 51 - 30"
        data-tmpl-vk="http://vk.com/eurochem" 
        data-tmpl-fb="http://fb.com/eurochem" 
        data-tmpl-inst="http://instagram.com/eurochem"
        data-tmpl-youtube="http://youtube.com/eurochem" 
        ) eurochem 
    a.tmpl-btn(
        href="javascript:void(0);", 
        data-tmpl-btn="sgk" 
        data-tmpl-name="СГК" 
        data-tmpl-text="Внешний сайт СГК" 
        data-tmpl-link="https://sibgenco.online/"
        data-tmpl-logo="logo-sgk-56.svg" 
        data-tmpl-bg="template/bg_sgk.png" 
        data-tmpl-bgfooter="template/bg_footer_sgk.png" 
        data-tmpl-phone="8 (495) 258 - 83 - 00"
        data-tmpl-vk="http://vk.com/sgk" 
        data-tmpl-fb="http://fb.com/sgk" 
        data-tmpl-inst="http://instagram.com/sgk"
        data-tmpl-youtube="http://youtube.com/sgk" 
        ) sgk 
    a.tmpl-btn(
        href="javascript:void(0);", 
        data-tmpl-btn="suek" 
        data-tmpl-name="СУЭК" 
        data-tmpl-text="Внешний сайт СУЭК" 
        data-tmpl-link="#"
        data-tmpl-logo="logo-suek-56.svg" 
        data-tmpl-bg="template/bg_suek.png" 
        data-tmpl-bgfooter="template/bg_footer_suek.png" 
        data-tmpl-phone="8 (800) 200 - 12 - 40"
        data-tmpl-vk="http://vk.com/suek" 
        data-tmpl-fb="http://fb.com/suek" 
        data-tmpl-inst="http://instagram.com/suek"
        data-tmpl-youtube="http://youtube.com/suek" 
        ) suek 
    a.tmpl-btn(
        href="javascript:void(0);", 
        data-tmpl-btn="ntk" 
        data-tmpl-name="НТК" 
        data-tmpl-text="Внешний сайт НТК" 
        data-tmpl-link="https://xn--j1afp.xn--p1ai/"
        data-tmpl-logo="logo-ntk-56.svg" 
        data-tmpl-bg="template/bg_ntk.png" 
        data-tmpl-bgfooter="template/bg_footer_ntk.png" 
        data-tmpl-phone="8 (495) 663-13-10"
        data-tmpl-vk="http://vk.com/ntk" 
        data-tmpl-fb="http://fb.com/ntk" 
        data-tmpl-inst="http://instagram.com/ntk"
        data-tmpl-youtube="http://youtube.com/ntk" 
        ) ntk 